.another-projects {
    padding-top: 50px;
    border-top: 1px solid #E0E0E0;
    font-family: 'BebasNeue';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #262626;
}

.another-projects-slide {
    width: 270px;
    p {
        width: 270px;
        color: #7A7A7A;
    }
}

.veeam-logo {
    padding: 39px 35px;
    border: 1px solid #7A7A7A;
    margin-top: 60px;
    margin-left: 15px;
}
