.header__grid {
    display: grid;
    width: 1200px;
    margin: 27px auto 106px auto;
    grid-template-columns: (6fr 18fr 20fr 5fr 51fr);
    height: max-content;
    grid-template-areas: "logo theme-toggle menu . button";
}
.header__grid--item1 {
  grid-area: logo;
}
.header__grid--item2 {
  grid-area: theme-toggle;
  width: 24px;
  height: 24px;
  fill: #262626;
  use:hover {
    fill: #83C1FA;
  }
}
.header__grid--item3 {
  grid-area: menu;
  text-decoration: none;
  list-style-type: none;
  padding-left: 0;
  li {
    text-decoration: none;
    font-family: 'SFPro';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 23px;
    a{
      color: #262626;
      padding: 8px 20px;
    }
    a:hover {
      border: 1px solid #83C1FA;
      border-radius: 50%;
    }
  }
}

.header__grid--item4 {
  grid-area: button;
  justify-self: right;
  button {
    color: #262626;
    font-family: 'BebasNeue';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 20px 40px 18px;
    border: 1px solid #83C1FA;
    box-sizing: border-box;
    border-radius: 60px;
  }
  button:hover {
    color: #FFFFFF;
    background-color: #83C1FA;
  }
}
.button--burger {
  display: hidden;
}

@media (max-width: 687px) {
  .button--burger {
    display: visible;
    background-repeat: no-repeat;
    box-sizing: border-box;
    fill: none;
    width: 46px;
    height: 46px;
    justify-self: flex-end;
  }
  .header__grid--item4 {
    display: none;
  }
  .header__grid--item3 {
    display: none;
  }
}

