.main-spec__section {
  display: grid;
  grid-template-columns: (1fr 1fr);
  height: max-content;
  grid-template-areas: "main-spec-grid__item1 main-spec-grid__item2";
}
.main-spec-grid__item1 {
  grid-area: main-spec-grid__item1;
}
.main-spec-grid__item2 {
  grid-area: main-spec-grid__item2;
  margin-top: 50px;
  counter-reset: counter;
}

.main-spec-item::before {
    content: '0' counter(counter) '. ';
    counter-increment: counter;
    font-family: 'SFPro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #BDBDBD;
    width: 10%;
}

.main-spec-item {
    border-bottom: 1px solid #E0E0E0;
    font-family: 'SFPro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
    width: 100%;
    :hover {
      color: #83C1FA;
    }
}

.main-spec-item:hover {
    border-bottom: 1px solid #83C1FA;
}

.main-spec-item[open] {
  border-bottom: 1px solid #83C1FA;
}

details>summary {
  display: inline;
  list-style: none;
  padding-left: 22px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 90%;
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: url('../img/desktop/about-us-dropdown-arrow-lite-mode-default.png');
  float: right;
  margin-left: 5px;
}

details[open] {
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

details[open] summary:after {
  content: url('../img/desktop/about-us-dropdown-arrow-lite-mode-active.png');
}

details[open] summary {
  border-bottom: 1px solid #83C1FA;
  margin-bottom: 24px;
  color: #83C1FA;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
