.main-spec__section {
  display: grid;
  grid-template-columns: (1fr 1fr);
  height: max-content;
  grid-template-areas: "main-spec-grid__item1 main-spec-grid__item2";
}
.main-spec-grid__item1 {
  grid-area: main-spec-grid__item1;
}
.main-spec-grid__item2 {
  grid-area: main-spec-grid__item2;
  margin-top: 50px;
}

.spec-item-text p {
    display: none;
    overflow: hidden;
}

ol {
    list-style: none;
    counter-reset: counter;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    margin-bottom: 110px;
  }

  ol li::before {
    content: '0' counter(counter) '. ';
    counter-increment: counter;
  }

  ol li:nth-child(n + 10)::before {
    content: counter(counter) '. ';
  }

ol li, ol li::marker {
    font-family: 'SFPro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #BDBDBD;
    border-bottom: 1px solid #E0E0E0;
}

.list-spec-item {
  width: 100%;
  text-align: left;
  cursor: pointer;

}

.list-spec-item:hover {
  border-bottom: 1px solid #83C1FA;
  color: #BDBDBD;
}

.list-spec-item__accordion {
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    background-color: transparent;
    font-family: 'SFPro';
    color: #262626;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    outline: none;
    text-align: left;
    cursor: pointer;
}

.list-spec-item__accordion:hover {
    color: #83C1FA;
}

.list-spec-item__accordion::after {
  content: url('../img/desktop/about-us-dropdown-arrow-lite-mode-default.png');
  float: right;
  margin-left: 5px;
}

.active:after {
  content: url('../img/desktop/about-us-dropdown-arrow-lite-mode-active.png');

  margin-left: 5px;
}


