
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .title__section {
    width: 80vw;
    margin: 0 auto 220px;
    display: grid;
    grid-template-areas:
        "a a . b"
        "c d . b";
    grid-template-columns: 23fr 21fr 5fr 51fr;
    grid-template-rows: repeat(2, auto-fill);
}

.title__imgbg-wrap {
    grid-area: b;
    // position: relative;
    .title__imgbg {
        // position: absolute;
        box-shadow: 7px 8px 0px #83C1FA;
        z-index: -1;
    }
}



.title__wrap {
    grid-area: a;
    z-index: 2;
    span {
        display: block;
        font-family: 'BebasNeue', sans-serif;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
    }

    .title__first-word {
        font-size: 190px;
        font-weight: 700;
        // line-height: 12em;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #262626;
        white-space: nowrap;
    }

    .title__second-word {
        font-size: 190px;
        font-weight: 700;
        // line-height: 12em;
        white-space: nowrap;
    }

    .title__third-word {
        font-size: 190px;
        font-weight: 700;
        // line-height: 12em;
        color: #262626;
        text-shadow: 7px 6px 0px #83C1FA;
        white-space: nowrap;
    }
}

.title__txt {
    grid-area: d;
    font-family: 'SFPro';
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    margin-block-start: 0;
    margin-block-end: 0;
    align-self: end;
}

.title__line-imgbg {
    grid-area: c;
    align-self: end;
    padding-bottom: 35px;
    height: 5px;
}

@media (max-width: 1330px) {
    .title__section {
        grid-template-areas:
            "a a . b"
            "c c . d";
    }

    .title__txt {
        padding-top: 24px;
    }

    .title__line-imgbg {
        padding-bottom: 5px;
    }
}

@media (max-width: 865px) {
    .title__wrap span {
        font-size: 64px;
    }
}
