@font-face {
    font-family: 'BebasNeue';
    src: url('/fonts/BebasNeueRegular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('/fonts/BebasNeueBold.otf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'SFPro';
    src: url('/fonts/SFProDisplay-Medium.woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'SFPro';
    src: url('/fonts/SFProDisplay-Regular.woff');
    font-style: normal;
    font-weight: 400;
}
