*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    color: lawngreen;
}

body {
    width: 375px;
    margin: 0 auto;
    background-color: #262626;
    color: #FFFFFF;
}
