html {
    margin: 0 auto;
    padding: 0;
    background-color: #F4F4F4;
    width: 100vw;
    max-width: 1200px;
}

body {
    font-style: normal;
    background-color: #F4F4F4;
    margin: 0 10vw;
    color: #262626;
    a :link {
        color: #262626;
    }
    a :alink {
        color: #83C1FA;
    }
    a :vlink {
        color: #83C1FA;
    }
}

header, main, footer {
}

a, ol, ul, li {
    text-decoration: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

img {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'BebasNeue', sans-serif;
    font-style: normal;
    margin-block-start: 0;
    margin-block-end: 0;
    p {
        font-family: 'SFPro', sans-serif;
        font-style: normal;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 14px;
        line-height: 22px;
    }
}

h3, .section__header-h3 {
    margin-top: 50px;
    font-family: 'BebasNeue';
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #262626;
    margin-bottom: 1em;
    p {
        font-family: 'SFPro', sans-serif;
        font-style: normal;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 14px;
        line-height: 22px;
    }
}

.popup {
    display: none;
}


