body {
    font-style: normal;
    color: #262626;
}

a {
    text-decoration: none;
}

img {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'BebasNeue', sans-serif;
    font-style: normal;
    margin-block-start: 0;
    margin-block-end: 0;
}

.page__container {
    width: 375px;
    margin: 0 auto;
    background-color: #F4F4F4;
    color: #262626;
}
